html {
  box-sizing: border-box;
  font-family: Merriweather, bold;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: flex;
  width: 40px;
  justify-content: center;
}

header {
  background-color: #d05c2e;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

ul {
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  background-color: #d05c2e;
  color: #fff;
  margin: 0;
}

li {
  width: 33.333%;
  border: 1px solid #a63f38;
}

a {
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 1.125rem;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  background-color: #d05c2e;
}

a:hover {
  background-color: #a63f38;
  color: #fff;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
